@import url("//fonts.googleapis.com/css?family=Josefin+Sans:600|Open+Sans");
.bverde {
  background-color: #20872C; }

.bazul {
  background-color: #005993; }

.bgris {
  background-color: #D2CBCB; }

.brojo {
  background-color: #DB5461; }

.bamarillo {
  background-color: #FFBF3F; }

.brand-santajuana {
  font-family: "Josefin Sans", serif;
  color: #005993;
  letter-spacing: 0.4rem;
  font-size: 1.3rem; }

.rojo {
  color: #DB5461;
  font-weight: bold; }

.brand-social {
  color: #20872C; }

.brand-background {
  background-color: #FFF; }

body {
  background-color: #D2CBCB;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

.container {
  margin-top: 71px; }

.left {
  background-color: #FFF;
  padding: 8px 4px 4px 4px; }

.middle {
  margin: 0px;
  padding: 0px; }

.right {
  background-color: #FFF;
  padding: 8px 4px 4px 4px; }

h3 {
  font-size: 1em;
  width: 100%;
  text-align: center;
  font-weight: bold; }

.list-group-item {
  padding: 4px 6px 4px 6px; }

.navbar-brand img {
  height: 40px;
  width: 40px;
  margin-right: 8px; }

#buttonpad {
  visibility: hidden; }

#infopanel,
.popoverTemplate {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 4px 6px 4px 6px;
  border-radius: 0.25rem;
  visibility: hidden; }

.popoverTemplate div button {
  width: 30px; }

.glow span:hover {
  box-shadow: 0 0 4px 4px white; }

.glow span {
  -webkit-animation: grow ease-in-out 2s;
          animation: grow ease-in-out 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.circle-box {
  position: absolute;
  width: 1.5%; }
  .circle-box span {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    padding: 100%;
    transition: box-shadow .25s ease; }

[class*="circle-"] span {
  border: 1px solid #FFF;
  outline: 0px; }

.circle-grey span {
  background-color: rgba(128, 128, 128, 0.5); }

.circle-green span {
  background-color: rgba(0, 255, 0, 0.5); }

.circle-yellow span {
  background-color: rgba(255, 255, 0, 0.5); }

.circle-red span {
  background-color: rgba(255, 0, 0, 0.5); }

.circle-l001 {
  top: 1.75%;
  left: 3%; }

.circle-l002 {
  top: 60%;
  left: 20.5%; }

.circle-l003 {
  top: 31.25%;
  left: 45.5%; }

.circle-l004 {
  top: 90.5%;
  left: 10.75%; }

.circle-l005 {
  top: 46.5%;
  left: 52%; }

.navbar-brand {
  font-size: 1.25rem; }

li.list-group-item.active {
  background-color: #005993;
  border-color: #005993; }

li.list-group-item {
  cursor: default; }

@media screen and (max-width: 540px) {
  .brand-santajuana {
    font-size: 1.1rem;
    letter-spacing: .2rem; }
  .rojo {
    font-size: 0.9rem; }
  .brand-social {
    font-size: 0.9rem; }
  .navbar-brand img {
    height: 30px;
    width: 30px;
    margin-right: 4px; } }

input,
textarea::-webkit-input-placeholder {
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

input,
textarea:-ms-input-placeholder {
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

input,
textarea::-ms-input-placeholder {
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

input,
textarea::placeholder {
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

.dropdown-menu {
  font-size: 0.9rem; }

.form-control-sm:focus {
  background-color: #FFFFEE;
  box-shadow: none;
  outline: 0px;
  border: 1px solid rgba(0, 0, 0, 0.25); }

.form-control-sm {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

textarea {
  min-height: 10rem; }

.btn {
  outline: none;
  color: #FFF; }

.btn:hover {
  outline: none;
  color: #FFF;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5); }

.btn:focus {
  outline: none;
  color: #FFF;
  box-shadow: none; }

.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlcy5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsaUZBQWlGO0FBQ2pGO0VBQ0UseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0UseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0UseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0UseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0UseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0Usa0NBQWtDO0VBQ2xDLGNBQWM7RUFDZCxzQkFBc0I7RUFDdEIsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsY0FBYztFQUNkLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxzQkFBc0IsRUFBRTs7QUFFMUI7RUFDRSx5QkFBeUI7RUFDekIsb0NBQW9DO0VBQ3BDLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLHNCQUFzQjtFQUN0Qix3QkFBd0IsRUFBRTs7QUFFNUI7RUFDRSxXQUFXO0VBQ1gsWUFBWSxFQUFFOztBQUVoQjtFQUNFLHNCQUFzQjtFQUN0Qix3QkFBd0IsRUFBRTs7QUFFNUI7RUFDRSxjQUFjO0VBQ2QsV0FBVztFQUNYLGtCQUFrQjtFQUNsQixpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSx3QkFBd0IsRUFBRTs7QUFFNUI7RUFDRSxZQUFZO0VBQ1osV0FBVztFQUNYLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFLGtCQUFrQixFQUFFOztBQUV0Qjs7RUFFRSxzQ0FBc0M7RUFDdEMsd0JBQXdCO0VBQ3hCLHNCQUFzQjtFQUN0QixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxXQUFXLEVBQUU7O0FBRWY7RUFDRSw2QkFBNkIsRUFBRTs7QUFFakM7RUFDRSxzQ0FBOEI7VUFBOUIsOEJBQThCO0VBQzlCLDJDQUFtQztVQUFuQyxtQ0FBbUM7RUFDbkMsaUNBQXlCO1VBQXpCLHlCQUF5QixFQUFFOztBQUU3QjtFQUNFO0lBQ0UsMkJBQW1CO1lBQW5CLG1CQUFtQixFQUFFO0VBQ3ZCO0lBQ0UsNkJBQXFCO1lBQXJCLHFCQUFxQixFQUFFO0VBQ3pCO0lBQ0UsMkJBQW1CO1lBQW5CLG1CQUFtQixFQUFFLEVBQUU7O0FBTjNCO0VBQ0U7SUFDRSwyQkFBbUI7WUFBbkIsbUJBQW1CLEVBQUU7RUFDdkI7SUFDRSw2QkFBcUI7WUFBckIscUJBQXFCLEVBQUU7RUFDekI7SUFDRSwyQkFBbUI7WUFBbkIsbUJBQW1CLEVBQUUsRUFBRTs7QUFFM0I7RUFDRSxrQkFBa0I7RUFDbEIsV0FBVyxFQUFFO0VBQ2I7SUFDRSxrQkFBa0I7SUFDbEIsa0JBQWtCO0lBQ2xCLFdBQVc7SUFDWCxhQUFhO0lBQ2IsZ0NBQWdDLEVBQUU7O0FBRXRDO0VBQ0Usc0JBQXNCO0VBQ3RCLFlBQVksRUFBRTs7QUFFaEI7RUFDRSwwQ0FBMEMsRUFBRTs7QUFFOUM7RUFDRSxzQ0FBc0MsRUFBRTs7QUFFMUM7RUFDRSx3Q0FBd0MsRUFBRTs7QUFFNUM7RUFDRSxzQ0FBc0MsRUFBRTs7QUFFMUM7RUFDRSxVQUFVO0VBQ1YsUUFBUSxFQUFFOztBQUVaO0VBQ0UsUUFBUTtFQUNSLFdBQVcsRUFBRTs7QUFFZjtFQUNFLFdBQVc7RUFDWCxXQUFXLEVBQUU7O0FBRWY7RUFDRSxVQUFVO0VBQ1YsWUFBWSxFQUFFOztBQUVoQjtFQUNFLFVBQVU7RUFDVixTQUFTLEVBQUU7O0FBRWI7RUFDRSxrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSx5QkFBeUI7RUFDekIscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0UsZUFBZSxFQUFFOztBQUVuQjtFQUNFO0lBQ0UsaUJBQWlCO0lBQ2pCLHFCQUFxQixFQUFFO0VBQ3pCO0lBQ0UsaUJBQWlCLEVBQUU7RUFDckI7SUFDRSxpQkFBaUIsRUFBRTtFQUNyQjtJQUNFLFlBQVk7SUFDWixXQUFXO0lBQ1gsaUJBQWlCLEVBQUUsRUFBRTs7QUFFekI7O0VBRUUsWUFBWTtFQUNaLG9DQUFvQztFQUNwQyxpQkFBaUIsRUFBRTs7QUFKckI7O0VBRUUsWUFBWTtFQUNaLG9DQUFvQztFQUNwQyxpQkFBaUIsRUFBRTs7QUFKckI7O0VBRUUsWUFBWTtFQUNaLG9DQUFvQztFQUNwQyxpQkFBaUIsRUFBRTs7QUFKckI7O0VBRUUsWUFBWTtFQUNaLG9DQUFvQztFQUNwQyxpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSx5QkFBeUI7RUFDekIsZ0JBQWdCO0VBQ2hCLFlBQVk7RUFDWixxQ0FBcUMsRUFBRTs7QUFFekM7RUFDRSxzQ0FBc0M7RUFDdEMsV0FBVztFQUNYLG9DQUFvQztFQUNwQyxpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxhQUFhO0VBQ2IsV0FBVyxFQUFFOztBQUVmO0VBQ0UsYUFBYTtFQUNiLFdBQVc7RUFDWCw4Q0FBOEMsRUFBRTs7QUFFbEQ7RUFDRSxhQUFhO0VBQ2IsV0FBVztFQUNYLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLFFBQVE7RUFDUixTQUFTO0VBQ1Qsd0NBQWdDO1VBQWhDLGdDQUFnQyxFQUFFIiwiZmlsZSI6InN0eWxlcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IHVybChcImh0dHBzOi8vZm9udHMuZ29vZ2xlYXBpcy5jb20vY3NzP2ZhbWlseT1Kb3NlZmluK1NhbnM6NjAwfE9wZW4rU2Fuc1wiKTtcbi5idmVyZGUge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMjA4NzJDOyB9XG5cbi5iYXp1bCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMDU5OTM7IH1cblxuLmJncmlzIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0QyQ0JDQjsgfVxuXG4uYnJvam8ge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjREI1NDYxOyB9XG5cbi5iYW1hcmlsbG8ge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjRkZCRjNGOyB9XG5cbi5icmFuZC1zYW50YWp1YW5hIHtcbiAgZm9udC1mYW1pbHk6IFwiSm9zZWZpbiBTYW5zXCIsIHNlcmlmO1xuICBjb2xvcjogIzAwNTk5MztcbiAgbGV0dGVyLXNwYWNpbmc6IDAuNHJlbTtcbiAgZm9udC1zaXplOiAxLjNyZW07IH1cblxuLnJvam8ge1xuICBjb2xvcjogI0RCNTQ2MTtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7IH1cblxuLmJyYW5kLXNvY2lhbCB7XG4gIGNvbG9yOiAjMjA4NzJDOyB9XG5cbi5icmFuZC1iYWNrZ3JvdW5kIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRjsgfVxuXG5ib2R5IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0QyQ0JDQjtcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMC45cmVtOyB9XG5cbi5jb250YWluZXIge1xuICBtYXJnaW4tdG9wOiA3MXB4OyB9XG5cbi5sZWZ0IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRjtcbiAgcGFkZGluZzogOHB4IDRweCA0cHggNHB4OyB9XG5cbi5taWRkbGUge1xuICBtYXJnaW46IDBweDtcbiAgcGFkZGluZzogMHB4OyB9XG5cbi5yaWdodCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRkY7XG4gIHBhZGRpbmc6IDhweCA0cHggNHB4IDRweDsgfVxuXG5oMyB7XG4gIGZvbnQtc2l6ZTogMWVtO1xuICB3aWR0aDogMTAwJTtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBmb250LXdlaWdodDogYm9sZDsgfVxuXG4ubGlzdC1ncm91cC1pdGVtIHtcbiAgcGFkZGluZzogNHB4IDZweCA0cHggNnB4OyB9XG5cbi5uYXZiYXItYnJhbmQgaW1nIHtcbiAgaGVpZ2h0OiA0MHB4O1xuICB3aWR0aDogNDBweDtcbiAgbWFyZ2luLXJpZ2h0OiA4cHg7IH1cblxuI2J1dHRvbnBhZCB7XG4gIHZpc2liaWxpdHk6IGhpZGRlbjsgfVxuXG4jaW5mb3BhbmVsLFxuLnBvcG92ZXJUZW1wbGF0ZSB7XG4gIGJvcmRlcjogMXB4IHNvbGlkIHJnYmEoMCwgMCwgMCwgMC4xMjUpO1xuICBwYWRkaW5nOiA0cHggNnB4IDRweCA2cHg7XG4gIGJvcmRlci1yYWRpdXM6IDAuMjVyZW07XG4gIHZpc2liaWxpdHk6IGhpZGRlbjsgfVxuXG4ucG9wb3ZlclRlbXBsYXRlIGRpdiBidXR0b24ge1xuICB3aWR0aDogMzBweDsgfVxuXG4uZ2xvdyBzcGFuOmhvdmVyIHtcbiAgYm94LXNoYWRvdzogMCAwIDRweCA0cHggd2hpdGU7IH1cblxuLmdsb3cgc3BhbiB7XG4gIGFuaW1hdGlvbjogZ3JvdyBlYXNlLWluLW91dCAycztcbiAgYW5pbWF0aW9uLWl0ZXJhdGlvbi1jb3VudDogaW5maW5pdGU7XG4gIHRyYW5zZm9ybS1vcmlnaW46IDUwJSA1MCU7IH1cblxuQGtleWZyYW1lcyBncm93IHtcbiAgMCUge1xuICAgIHRyYW5zZm9ybTogc2NhbGUoMSk7IH1cbiAgNTAlIHtcbiAgICB0cmFuc2Zvcm06IHNjYWxlKDEuMSk7IH1cbiAgMTAwJSB7XG4gICAgdHJhbnNmb3JtOiBzY2FsZSgxKTsgfSB9XG5cbi5jaXJjbGUtYm94IHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMS41JTsgfVxuICAuY2lyY2xlLWJveCBzcGFuIHtcbiAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIHBhZGRpbmc6IDEwMCU7XG4gICAgdHJhbnNpdGlvbjogYm94LXNoYWRvdyAuMjVzIGVhc2U7IH1cblxuW2NsYXNzKj1cImNpcmNsZS1cIl0gc3BhbiB7XG4gIGJvcmRlcjogMXB4IHNvbGlkICNGRkY7XG4gIG91dGxpbmU6IDBweDsgfVxuXG4uY2lyY2xlLWdyZXkgc3BhbiB7XG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMTI4LCAxMjgsIDEyOCwgMC41KTsgfVxuXG4uY2lyY2xlLWdyZWVuIHNwYW4ge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDAsIDI1NSwgMCwgMC41KTsgfVxuXG4uY2lyY2xlLXllbGxvdyBzcGFuIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMCwgMC41KTsgfVxuXG4uY2lyY2xlLXJlZCBzcGFuIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgyNTUsIDAsIDAsIDAuNSk7IH1cblxuLmNpcmNsZS1sMDAxIHtcbiAgdG9wOiAxLjc1JTtcbiAgbGVmdDogMyU7IH1cblxuLmNpcmNsZS1sMDAyIHtcbiAgdG9wOiA2MCU7XG4gIGxlZnQ6IDIwLjUlOyB9XG5cbi5jaXJjbGUtbDAwMyB7XG4gIHRvcDogMzEuMjUlO1xuICBsZWZ0OiA0NS41JTsgfVxuXG4uY2lyY2xlLWwwMDQge1xuICB0b3A6IDkwLjUlO1xuICBsZWZ0OiAxMC43NSU7IH1cblxuLmNpcmNsZS1sMDA1IHtcbiAgdG9wOiA0Ni41JTtcbiAgbGVmdDogNTIlOyB9XG5cbi5uYXZiYXItYnJhbmQge1xuICBmb250LXNpemU6IDEuMjVyZW07IH1cblxubGkubGlzdC1ncm91cC1pdGVtLmFjdGl2ZSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMDU5OTM7XG4gIGJvcmRlci1jb2xvcjogIzAwNTk5MzsgfVxuXG5saS5saXN0LWdyb3VwLWl0ZW0ge1xuICBjdXJzb3I6IGRlZmF1bHQ7IH1cblxuQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNTQwcHgpIHtcbiAgLmJyYW5kLXNhbnRhanVhbmEge1xuICAgIGZvbnQtc2l6ZTogMS4xcmVtO1xuICAgIGxldHRlci1zcGFjaW5nOiAuMnJlbTsgfVxuICAucm9qbyB7XG4gICAgZm9udC1zaXplOiAwLjlyZW07IH1cbiAgLmJyYW5kLXNvY2lhbCB7XG4gICAgZm9udC1zaXplOiAwLjlyZW07IH1cbiAgLm5hdmJhci1icmFuZCBpbWcge1xuICAgIGhlaWdodDogMzBweDtcbiAgICB3aWR0aDogMzBweDtcbiAgICBtYXJnaW4tcmlnaHQ6IDRweDsgfSB9XG5cbmlucHV0LFxudGV4dGFyZWE6OnBsYWNlaG9sZGVyIHtcbiAgb3BhY2l0eTogMC44O1xuICBmb250LWZhbWlseTogXCJPcGVuIFNhbnNcIiwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAwLjlyZW07IH1cblxuLmRyb3Bkb3duLW1lbnUge1xuICBmb250LXNpemU6IDAuOXJlbTsgfVxuXG4uZm9ybS1jb250cm9sLXNtOmZvY3VzIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRkZFRTtcbiAgYm94LXNoYWRvdzogbm9uZTtcbiAgb3V0bGluZTogMHB4O1xuICBib3JkZXI6IDFweCBzb2xpZCByZ2JhKDAsIDAsIDAsIDAuMjUpOyB9XG5cbi5mb3JtLWNvbnRyb2wtc20ge1xuICBib3JkZXI6IDFweCBzb2xpZCByZ2JhKDAsIDAsIDAsIDAuMTI1KTtcbiAgd2lkdGg6IDEwMCU7XG4gIGZvbnQtZmFtaWx5OiBcIk9wZW4gU2Fuc1wiLCBzYW5zLXNlcmlmO1xuICBmb250LXNpemU6IDAuOXJlbTsgfVxuXG50ZXh0YXJlYSB7XG4gIG1pbi1oZWlnaHQ6IDEwcmVtOyB9XG5cbi5idG4ge1xuICBvdXRsaW5lOiBub25lO1xuICBjb2xvcjogI0ZGRjsgfVxuXG4uYnRuOmhvdmVyIHtcbiAgb3V0bGluZTogbm9uZTtcbiAgY29sb3I6ICNGRkY7XG4gIGJveC1zaGFkb3c6IDRweCA0cHggNHB4IDBweCByZ2JhKDAsIDAsIDAsIDAuNSk7IH1cblxuLmJ0bjpmb2N1cyB7XG4gIG91dGxpbmU6IG5vbmU7XG4gIGNvbG9yOiAjRkZGO1xuICBib3gtc2hhZG93OiBub25lOyB9XG5cbi5tb2RhbCB7XG4gIHRvcDogNTAlO1xuICBsZWZ0OiA1MCU7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlKC01MCUsIC01MCUpOyB9XG4iXX0= */
